@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }

  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-neutral-50 text-neutral-900;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
