@import 'tailwindcss';

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }

  * {
    border-color: theme(colors.neutral.200);
  }

  body {
    background-color: theme(colors.neutral.50);
    color: theme(colors.neutral.900);
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
