@import 'tailwindcss';

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }

  * {
    border-color: #E5E5E5;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  body {
    background-color: #FFFFFF;
    color: #171717;
    font-feature-settings: 'rlig' 1, 'calt' 1, 'liga' 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Smooth transition utilities */
  .transition-smooth {
    transition-duration: 300ms;
  }

  .transition-smooth-slow {
    transition-duration: 500ms;
  }

  /* Link underline animation */
  .link-underline {
    position: relative;
  }

  .link-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4285F4;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-underline:hover::after {
    left: 0;
    width: 100%;
  }
}
